<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}    
    <link rel="stylesheet" type="text/css" href="{% static 'pickering/css/site.css' %}"/>
    <script type="text/javascript" src="{% static 'pickering/js/frameworks/jquery-3.4.1.min.js' %}"></script>
    {% block extra-header %}{% endblock %}
</head>

<body>

    <header>
        <h1 class="site-title">11 Burgate, Pickering</h1>

        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-item navbar-item--brand">Home</a>
            <a href="{% url 'log' %}" class="navbar-item">Log Message</a>
            <a href="{% url 'bookings' %}" class="navbar-item">Bookings</a>
            <a href="{% url 'about' %}" class="navbar-item">About</a>
            <a href="{% url 'contact' %}" class="navbar-item">Contact</a>
        </div>
    </header>

    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>

    <hr/>

    <footer>
        <p>&copy; Newman Solutions {% now "Y" %}. All Rights Reserved.</p>
    </footer>

</body>
</html>